{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="centered-form-wrapper">
    <form method="POST">
        <h2>Register</h2>
        {{ form.hidden_tag() }}
        {{ form.username.label }} {{ form.username() }}<br>
        {{ form.email.label }} {{ form.email() }}<br>
        {{ form.password.label }} {{ form.password() }}<br>
        {{ form.submit() }}
        <p>Already have an account? <a href="{{ url_for('main.login') }}">Login here</a></p>
    </form>
</div>
{% endblock %}
