{% extends "base.html" %}

{% block title %}Review: {{ movie.title }}{% endblock %}

{% block content %}
    <h2>Post a Review for "{{ movie.title }}"</h2>

        <a href="{{ url_for('main.movie_list') }}" class="back-button">← Back to Movie List</a>

    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.content.label }}<br>
            {{ form.content(rows=4, cols=50) }}
        </div>
        <div>
            {{ form.rating.label }}<br>
            {{ form.rating() }}
        </div>
        <div>
            <button type="submit">Submit Review</button>
        </div>
    </form>
{% endblock %}